#form-title {
    font-family:'Georgia';
}

@media (min-width: 990px) {

    .form-contacts {
        width: 70%;
        margin-left: 5%;
    }

    #form-title {
        font-size: 150px;
        margin-left: 35%;
    }
}