.avatar-sm {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    margin: auto;
    padding: 10px;
    border:solid 1px #000;
}

.middle {
    border-right: 1px solid #000;
}

.name-chat{
    margin-left: 25px !important;
}